{% extends "base.html" %}


{% block content %}
    <h1>Vpiši se na mojo stran</h1>
<div class="col-3">
    <form method="post" action="/login">
        <label for="name">User name</label>
        <input class="form-control" id="name" type="text" name="name" placeholder="What's your name?">
        <br>
        <label for="email">Email</label>
        <input class="form-control" id="email" type="email" name="email" placeholder="your email here ...">
        <br>
        <label for="password">Password</label>
        <input class="form-control" id="password" type="password" name="password">
        <button class="btn btn-primary mt-3" type="submit">Send this message</button>
    </form>
    </div>
{% endblock %}


{% block title %}
Moja stran
{% endblock %}